// Variables
$primary-color: #9b1b1b;
$success-color: #34ad29;
$danger-color: #e6d436;
$light-color: #f1f1f1;
$dark-color: #333;
$navbar-height: 60px;

// Global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: $light-color;
}

// Utility Classes
.box-shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 0;
}

// Navbar
.navbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: #fff;

  .navbar__title {
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    cursor: pointer;
  }
}

// Alert
.alert {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.alert-danger {
  background-color: $danger-color;
}

.alert-warning {
  background-color: lighten($primary-color, 10);
}

// Search Box
.search-box {
  margin-bottom: 1rem;

  form {
    display: grid;
    grid-template-columns: 3fr 1fr;

    input {
      font-size: 1.1rem;
      padding: 0.3rem;
      border: 0;
    }

    input:focus {
      outline: none;
    }

    .search-box__text {
      border: 1px solid $dark-color;
    }

    .search-box__submit {
      background-color: $dark-color;
      color: #fff;
      cursor: pointer;
    }

    .search-box__submit:hover {
      background-color: darken($dark-color, 5);
      transition: 0.5s;
    }
  }

  .search-box__clean {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.3rem;
    border: 0;
    background-color: $dark-color;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
  }

  .search-box__clean:hover {
    background-color: darken($dark-color, 5);
    transition: 0.5s;
  }
}

// Spinner
.spinner {
  margin: 0 auto;
  width: 300px;
  border: 1px solid $dark-color;
  border-radius: 50px;

  div {
    width: 40px;
    height: 40px;
    margin: 0.2rem;
    background-color: $dark-color;
    border-radius: 50px;
    animation: loading 0.4s ease-in-out infinite;
  }
}

// Book List
.book-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: $navbar-height;
}

// Book Item
.book-item {
  display: flex;
  padding: 1rem;
  background-color: #fff;

  .book-item__cover {
    img {
      width: 120px;
      height: 180px;
      border-radius: 5px;
      margin-right: 1rem;
    }
  }

  .book-item__info {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    .book-item__info__title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px dotted $dark-color;
      color: $primary-color;
    }

    div {
      margin-top: 0.5rem;

      p {
        margin-bottom: 0.3rem;
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  height: 40px;
  background-color: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;

  a {
    color: $light-color;
  }
}

// Keyfreames
@keyframes loading {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(260px);
    opacity: 0;
  }
}

// Media Queries
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .book-item {
    margin-bottom: 1rem;
  }
}
